# .coveragerc to control coverage.py
[run]
    source = crmprtd
    omit =
        crmprtd/db_excptions
        crmprtd/ec/download.py
# The EC_SWOB modules barely have any code worth testing
        crmprtd/bc_env_snow/download.py
        crmprtd/bc_env_aq/download.py
        crmprtd/bc_tran/download.py
        crmprtd/bc_forestry/download.py
        crmprtd/nt_forestry/download.py
        crmprtd/nt_water/download.py
        crmprtd/yt_gov/download.py
        crmprtd/yt_water/download.py
        crmprtd/wamr/download.py
        crmprtd/wmb/download.py
        speed_test/

[report]
    fail_under = 77.0
exclude_lines =
    pragma: no cover
    main()
    if __name__ == .__main__.:
