# .coveragerc to control coverage.py
[run]
    source = crmprtd
    omit =
        crmprtd/db_excptions
        crmprtd/ec/download.py
        crmprtd/moti/download.py
        crmprtd/wamr/download.py
        crmprtd/wmb/download.py
        speed_test/

[report]
    fail_under = 50
