[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.pacificclimate.org/simple"
verify_ssl = true
name = "pypipacificclimate"

[packages]
lxml = "==4.6.3"
Pint = "==0.9"
psycopg2 = "==2.8"
pycds = { version = "==4.0.0", index = "pypipacificclimate" }
python-dateutil = "==2.8"
pytz = "==2019.3"
PyYAML = "==5.4"
SQLAlchemy = "==1.4.*"
pysftp = "==0.2.8"
black = { version = "*", index = "pypipacificclimate" }

[dev-packages]
black = {version = "*", index = "pypipacificclimate"}
pytest = "==6.1.2"
pytest-cov = "==2.10.1"
python-json-logger = "==0.1.9"
"testing.postgresql" = "==1.3.0"
requests-mock = "==1.7"
pytest-mock = "==1.11.1"

[requires]
python_version = "3.8"

[packages.requests]
extras = [ "security",]
version = "==2.22"
